<a class="tile " href="/products/ABC-123">
  <div class="name">ABC-123</div>
  <img alt="7ef9d1f16e tilex2" src="/content/images/product/74/1241/7ef9d1f16e_tilex2.jpg" />

  <div class="product-info">
    <div class="">
      <img alt="7ef9d1f16e tilex2" src="/content/images/product/74/1241/7ef9d1f16e_tilex2.jpg" />
      <h2>ABC-123</h2>
    </div>
    <div class="txt">
      <div>3L Wool Doeskin Parka</div>
        <span class="selected">2875 EUR</span>
      <span>Hardshell</span>
        <span>Gen. 1</span>
        <span>Black</span>
    </div>
  </div>
</a>
